body{
  padding: 0;
  margin: 0;
}

.container {
  text-align: center;
  width:90%;
  height: 100%;
  float: right;
  background-image: url("./images/desktop.jpg");
  background-size:cover;
}
path{
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 630;
  opacity: 10;
  animation: animate 3s cubic-bezier(0,0.23,1,.1);
}

@keyframes animate{
  0%{
    opacity: 0;
    fill: none;
    stroke-dashoffset: 630;
  }

  30%{
    opacity: 10;
    fill: none;
    stroke-dashoffset: 630;
  }

  90%{
    fill: rgba(255,255,255,0);
  }

  100%{
    opacity: 10;
    fill: rgba(255,255,255,1);
    stroke-dashoffset: 0;
  }
}

.head {
  /* background-color: goldenrod; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

h1 {
  font-size: 50px;
  letter-spacing: 3px;
  word-spacing: .5em;
  
}


.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  margin-top: 15px;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

a:hover {
  color: #f1f1f1;
}

a:active {
  color: red;
}

.projects, .gallery{
  width:88%;
  border:solid 1px black;
  text-align: center;
  float: right;
}
.contact,.about{
  width:88%;
  height:100%;
  border:solid 1px black;
  float: right;
  background-color:ghostwhite ;
}

.contact h1{
  margin-left: 460px;
}

.outing{
  border:solid 1px black;
  overflow: hidden;
  width:80%;
  margin:auto;
  margin-top: 20px;
  
}

.gallery img,.projects img{
  width:40%;
  height:60%;
  margin: 15px;
  transform: rotate(90deg) ;
}

form{
  border:solid 1px black;
  width:30%;
  height:40%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  
}

input[type=text],input[type=email]{
 
  width:100%;
  box-sizing: border-box;
  text-align: left;
  margin:15px 10px 15px 0px;
}

label{
  
  padding: 12px 12px 12px 0;
  margin:10px 10px 10px 0;
}

#query{
  width:360px;
  height: 75px;
  text-align: top;
  margin-top: 15px;
  resize: none;
}

.box{
  /* border:solid 1px black; */
  margin :auto;
  margin-top: 40px;
  padding-left: 200px;
}

.flexbox{
  /* border:solid 1px black; */
  float: left;
  margin-left: 45px;
  margin-top: 30px;
  width: 20%;
  /* background-color:#f4f4f4; */
}

.box img{
  /* border:solid 1px black; */
  width:50px;
  height:50px;
  margin:10px 70px 10px 70px;
}










